*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://images.unsplash.com/photo-1579765875513-0d711aeeaa3a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: 100%;
}
    
h1 {
    color: black;
    text-align: center;
}

nav {
    display: flex;
    font-size: 14px;
    font-family: georgia;
    text-align: center;
    justify-content: center;
    padding: 5px;
    background-color: black;
}

ul{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    width: 200px;
    float: left;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-color: black;
}

p {
    text-align: center;
    color: black;
}

#button {
    color: white;
    border: solid 1px;
    width: 200px;
    float: left;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: black;
}

div {
    padding: 290px;
    margin-left: 288px;
}

#text {
    margin-left: 550px;
}

#submit {
    margin-left: 648px;
}